<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login or Signup</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="form-container">
<form id="signup-form" action="/userSignup" method="post">
    <h2>Signup</h2>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>
    <div>
      <label for="role">Role:</label>
      <select id="role" name="role">
        <option value="user">User</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <button type="submit">Signup</button>
  </form>
</div>
<script src="script.js"></script>
</body>
</html> 